:root {
  --bg: #0b1220;
  --sidebar: #020617;
  --card: #111827;
  --accent: #3251ff;
  --text: #e5e7eb;
  --muted: #9ca3af;
  --green: #22c55e;
  --red: #ef4444;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  display: flex;
  background: var(--bg);
  color: var(--text);
}

/* SIDEBAR */
.sidebar {
  width: 240px;
  height: 110vh;
  background: var(--sidebar);
  padding: 20px;
}

.sidebar h2 {
  color: var(--accent);
  margin-bottom: 30px;
}

.sidebar a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px;
  color: var(--muted);
  text-decoration: none;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: 0.3s;
}

.sidebar a:hover {
  background: var(--accent);
  color: #000;
}

.sidebar a.active {
  background: var(--green);
  color: #000;
}

/* MAIN */
.main {
  flex: 1;
  padding: 20px;
}

/* TOPBAR */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

/* CARDS */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
  gap: 15px;
  margin-bottom: 40px;
}

.card {
  background: var(--card);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.4);
  position: relative;
}

.card h3 {
  color: var(--muted);
  font-size: 14px;
}

.card h1 {
  margin-top: 10px;
  color: var(--accent);
}

.card i {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 22px;
  opacity: 0.3;
}

/* CENTER FORM */
.leave-container {
  display: flex;
  justify-content: center;
}

.leave-card {
  background: var(--card);
  padding: 25px;
  border-radius: 15px;
  width: 100%;
  max-width: 450px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.4);
}

.leave-card input,
.leave-card select,
.leave-card textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: none;
  border-radius: 8px;
  background: #1f2937;
  color: #fff;
}

.leave-card button {
  width: 100%;
  padding: 12px;
  background: var(--accent);
  border: none;
  border-radius: 10px;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}

.success {
  background: var(--green);
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.error {
  background: var(--red);
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}
